<%- include('header')%>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Form Basic</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <form class="form-horizontal" action="/product/insertProductData" enctype="multipart/form-data" method="post">
                  <div class="card-body">
                    <h4 class="card-title">Personal Info</h4>
                  
                    <div class="form-group row">
                      <label
                        for="lname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Category</label
                      >
                      <div class="col-sm-9">
                        <select name="categoryID" id="categoryID" class="form-control" onchange="getSubcategoryData()">
                          <option value="">-- Select Category --</option>
                          <% for(let rec of caData) {%>
                            <option value="<%= rec.id%>"><%= rec.category%></option>
                          <%}%>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label
                        for="lname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Subcategory</label
                      >
                      <div class="col-sm-9">
                        <select name="subcategoryID" id="subcategoryID" class="form-control" onchange="getExtracategoryData()">
                          <option value="">-- Select Subcategory--</option>
                          
                          
                          
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label
                        for="lname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Extracategory</label
                      >
                      <div class="col-sm-9">
                        <select name="extracategoryID" id="extracategoryID" class="form-control">
                          <option value="">-- Select Extracategory--</option>
                          
                          
                          
                        </select>
                      </div>
                    </div>

                    
                    
                    
                    <div class="form-group row">
                      <label
                        for="cono1"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Product Name</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          id="cono1"
                          placeholder="Enter Product Name"
                          name="pName"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="cono1"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Product Price</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          id="cono1"
                          placeholder="Enter Product Price"
                          name="pPrice"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="cono1"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Description</label
                      >
                      <div class="col-sm-9">
                        <textarea class="form-control" name="pDescription"></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="lname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Profile Picture</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="file"
                          class="form-control"
                          name="thumbnail"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="border-top">
                    <div class="card-body">
                      <button type="submit" class="btn btn-primary">
                        Add Product
                      </button>
                    </div>
                  </div>
                </form>
              </div>
             
              
            </div>
            
          </div>
          <!-- editor -->
          
          <!-- ============================================================== -->
          <!-- End PAge Content -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Right sidebar -->
          <!-- ============================================================== -->
          <!-- .right-sidebar -->
          <!-- ============================================================== -->
          <!-- End Right sidebar -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script>
            function getSubcategoryData(){
                $.ajax({
                    url : '/extracategory/subCategoryDatFound',
                    type : 'post',
                    data : {
                        catID : document.getElementById('categoryID').value
                    },
                    success : function(res){
                        $('#subcategoryID').html(res);
                    }
                })
            }

            function getExtracategoryData(){
              $.ajax({
                url : '/product/ExtracategoryDataFound',
                type : 'post',
                data : {
                  catID : document.getElementById('subcategoryID').value
                },
                success : function(res){
                  $('#extracategoryID').html(res)
                }
              })
            }
        </script>

        <%- include('footer')%>